
.DS_Store

.idea/.name

.idea/TakPHPLib.iml

TakPHPLib_current.zip

.idea/encodings.xml

.idea/inspectionProfiles/Project_Default.xml

.idea/inspectionProfiles/profiles_settings.xml

.idea/misc.xml

.idea/modules.xml

.idea/scopes/scope_settings.xml

.idea/vcs.xml

.idea/workspace.xml

.svn/entries

.svn/text-base/.htaccess.svn-base

.svn/text-base/README.txt.svn-base

.svn/text-base/index.php.svn-base

app/.svn/entries

app/_ctl/.svn/entries

app/_tpl/canvas/.svn/text-base/head.phtml.svn-base

app/_ctl/.svn/text-base/_home.php.svn-base

app/_ctl/ajax/.svn/entries

app/_ctl/ajax/.svn/text-base/_protectAjax.php.svn-base

app/_tpl/.svn/entries

app/_tpl/.svn/text-base/_home.phtml.svn-base

app/_tpl/canvas/.svn/entries

app/_tpl/canvas/.svn/text-base/foot.phtml.svn-base

app/cfg/.svn/entries

app/cfg/.svn/text-base/define.php.svn-base

app/cfg/.svn/text-base/modules.php.svn-base

app/lib/.svn/text-base/designPatterns.php.svn-base

app/lib/.svn/entries

app/lib/.svn/text-base/TaktiveRecord.php.svn-base

app/lib/.svn/text-base/benchmarker.php.svn-base

app/lib/.svn/text-base/cryptMan.php.svn-base

app/lib/.svn/text-base/dataValidator.php.svn-base

app/lib/.svn/text-base/dbMan.php.svn-base

app/lib/.svn/text-base/favoritesMan.php.svn-base

app/lib/.svn/text-base/fbUserMan.php.svn-base

app/lib/.svn/text-base/hashMan.php.svn-base

app/lib/.svn/text-base/rightsMan.php.svn-base

app/lib/.svn/text-base/searchUtils.php.svn-base

app/lib/.svn/text-base/takDebugger.php.svn-base

app/lib/.svn/text-base/userMan.php.svn-base

app/lib/apWs/.svn/entries

app/lib/apWs/.svn/text-base/main.php.svn-base

app/lib/apWs/includes/.svn/entries

app/lib/tests/.svn/text-base/testHashMan.php.svn-base

app/lib/tests/.svn/entries

media/.svn/entries

media/css/.svn/entries

media/css/.svn/text-base/base.css.svn-base

media/img/.svn/entries

media/js/.svn/entries

media/js/.svn/text-base/main.js.svn-base
