RewriteEngine On
RewriteBase /MuPHP/

# API
RewriteRule ^api/(\w+)/?$ api.php?ws=$1 [L,QSA]

# Medias
RewriteRule ^.+/media/(.+)$ media/$1 [L]

# Pages avec queries (args GET)
RewriteCond %{QUERY_STRING} (.+)
RewriteRule ^(\w+)/$ index.php?module=$1&%1 [L,QSA]

# Autres pages
RewriteRule ^(\w+)/?$ index.php?module=$1 [L,QSA]